$contentBackground: #fff;
$textColor: #fff;
$mainText: #2c2f3c;
$contentHeaderImage: "../img/m-h-day.jpg";
$grayColor: #2c2f3c;
$afterColor: #14a0c7;
$firstButtonColor: #699900;
$gradientFirst: #689803;
$gradientLast: #2b59de;
$blocksColor: #21232e;
$blocksTextColor: #c0c0c4;
$specialFont: 'Hind', sans-serif;
$sansFont: 'Source Sans Pro', sans-serif;
$color:(
    textColor: #2c2f3c,
    mainText: #fff
    );