$contentBackground: #21232e;
$textColor: #fff;
$contentHeaderImage: "../img/m-h-night.jpg";
$grayColor: #2c2f3c;
$afterColor: #ff4e33;
$firstButtonColor: #e3ac00;
$gradientFirst: #dda306;
$gradientLast: #912a53;
$blocksColor: #3b3f50;
$blocksTextColor: #c0c0c4;
$specialFont: 'Fresca', sans-serif;
$sansFont: 'Source Sans Pro', sans-serif;

$color:(
    textColor: #fff,
    mainText: #2c2f3c,
    blocks: #3b3f50
    );