li{
    list-style: none;
    cursor: pointer;
}
.close{
    color: #e6d40e;
}
.empty_visible{
    font-style: italic;
    cursor: text;
}
.file{
    color: gray;
}
.none{
    display: none;
}
.visible{
    display: block;
}
#root div:hover{
    background-color:lightgray;
}
